body{
    padding: 0;
    margin: 0;
    color: #f5f5f5;
    background-color: #2F2E41;
}
.logincontainer{
    width: 600px;
    height: 500px;
    background-color: #3F3D56;
    position: relative;
    top: 60px;
    left: 360px;
}
.headerlogin{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 18px;
}
.signinforlogin1{
    margin-left: 60px;
    font-size: 28px;
    color: #CE871C;
}
.signinforlogin2{
    margin-left: 60px;
    font-size: 16px;
    color: #f5f5f5;
}
form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 470px;
    height: 43px;
    background-color: #2F2E41;
    border: none;   
    border-bottom: 2px solid #CE871C;
    margin-left: 40px;
    margin-top: 25px;
    color: #F5F5F5;
    font-size: 18px;
}
.signuplinkforlogin a{
    color: #f5f5f5;
    text-decoration: none;
}
.loginbutton a{
    color: #f5f5f5;
    text-decoration: none;
}

.loginbutton{
    width: 150px;
    height: 45px;
    
    background: #2F2E41;
    border: 3px solid #CE871C;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #F5F5F5;
    margin-top: 50px;
    margin-left: 210px;
}

@media (max-width:624px){
    .logincontainer{
        width: 390px;
        top: 132px;
        left: 10px;
    }
    .logininpt{
        width: 319px;
       

    }
    .loginbutton{
        position: relative;
        right: 85px;
    }

}