
body{
    padding: 0;
    margin: 0;
    font-family: poppins;
}
.containerblogs{
    background-color: #2F2E41;
    width: auto;
    height: auto;
}
.blogsnavbar{
    display:flex ;
    background-color: #2F2E41;
    border-bottom: 3px solid #F5F5F5;
    position: sticky;
    top: 0;
    z-index: 999;
}
.fa.fa-bars.menu{
    display: none;
  }
.blogsleftside{
    flex: 3;
}
.blogsleftside h2{
    color: #CE871C;
    font-size: 39;
    font-weight: bold;
    margin-left: 40px;
}
.blogsaggyh2{
    color: #CE871C;
}
.blogsrightside{
    flex: 5;
}
ul.menuheader{
    display: flex;
}
li.listitems{
    margin-left: 50px;
    list-style: none;
    margin-top: 5px;

}
li.listitems a{
    color: #F5F5F5;
    text-decoration: none;
    font-size: 22px;
}
li.listitems a:hover{
    color: #CE871C;
    font-weight: bold;
}
.myblogs{
    color: #F5F5F5;
    margin-top: 80px;
    margin-left: 50px;
  
}
.blogsone{
   display: flex;
   flex-wrap: wrap;    
}
.blogstwo{     
    display: flex;
    flex-direction: row;
}
.blogs1{
    width: 550px;
    height:390px;
    background-color: #3F3D56;
    border-radius: 20px;
    text-align: center;
    font-size: 23px;
    padding: 5px;
    margin: 30px;
}

.blogbutton{
    background-color: #2F2E41;
    border: 3px solid #CE871C;
    height: 38px;
    width: 150px;
    font-size: 22px;
    align-items: center;
    color: #F5F5F5;
    border-radius: 13px;
    text-decoration: none;

}
.blogbutton a{
    text-decoration: none;
    color: #F5F5F5;
}
ul.active{
    transition: all 0.5s ease;
    text-align: center;
    width: 320px;
    height: 360px;
    left: 42px;
    gap: 20px;
    font-size: 32px;
    font-weight: 600;  
}

@media (max-width:624px){
    .containerblogs{
        width: 100%;
        height: auto;
    }
    .blogsnavbar{
        flex-direction: column;
        width: 100%;
        height: 80px;
    }
    .blogsleftside{
        display: flex;
        justify-content: space-between;
    }
    ul{
        flex-direction: column;
        right: -410px;
        top: 70px;
        position: relative; 
        line-height: 30px; 
        background-color: #3F3D56; 
        border-radius: 8px;   
        padding: 10px;
        

    }
    .blogsleftside h2{
        margin-top: 10px;
        margin-left: 10px;
    }
    .fa.fa-bars.menu{
        display: block;
        font-size: 30px;
        color: #F5F5F5;
        margin-top: 20px;
        margin-right: 15px;
        cursor: pointer;
      }
    .blogsone{
        flex-direction: column;
    }
    .blogstwo{
        flex-direction: column;
    }
    .blogs1{
        position: relative;
        right: 0px;
        width: 340px;
        height: auto;
    }
    

}

