body{
    padding: 0;
    margin: 0;
    font-family: poppins;
}
.containeraboutpage{
    background-color: #2F2E41;
    width: auto;
    height: 656px;
}
.aboutnavbar{
    display:flex ;
    background-color: #2F2E41;
    border-bottom: 3px solid #F5F5F5;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.fa.fa-bars.menu{
    display: none;
  }
.aboutleftside{
    flex: 3;
}
.aboutleftside h2{
    color: #CE871C;
    font-size: 39;
    font-weight: bold;
    margin-left: 40px;
}

.aboutrightside{
    flex: 5;
}

ul.aboutmenu{
    display: flex;
}
li.aboutlistitems{
    margin-left: 50px;
    list-style: none;
    margin-top: 5px;

}
li.aboutlistitems a{
    color: #F5F5F5;
    text-decoration: none;
    font-size: 22px;
}
li.aboutlistitems a:hover{
    color: #CE871C;
    font-weight: bold;
    
}
.aboutmiddle{
    display: flex;
    margin-top: 28px;
    margin-left: 100px;
}
.aboutleftmiddle{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 26px;
color: #F5F5F5;
border: 2px solid #F5F5F5;
width: 458px;
height: 306px;
border-radius: 28px;
text-align: center;
margin-left: 20px ;
}
.aboutleftmiddle h2{
    color: #CE871C;
    text-align: center;
    top: auto;

}
.aboutsoftwareh2{
   color: #F5F5F5;
   text-align: center;
   margin-top: 37px;
   margin-bottom: 31px;
}


.aboutrightmiddle img{
    width: 260px;
    height: 330px;
    margin-left: 230px;
    border-radius: 15px;
}
.aboutsignupbtn{
    width: 254px;
height: 35px;
background: #2F2E41;
border: 3px solid #CE871C;
border-radius: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
margin-bottom: 0px;
align-items: center;
justify-content: center;
color: #F5F5F5;
margin-left: 500px;
}

ul.active{
    transition: all 0.5s ease;
    text-align: center;
    width: 320px;
    height: 360px;
    left: 42px;
    gap: 20px;
    font-size: 32px;
    font-weight: 600;  
}

@media (max-width:624px){
    .containeraboutpage{
        background-color: #2F2E41;
        width: 100%;
         height: auto;
    }
    .aboutnavbar{
        flex-direction: column;
        width: 100%;
        height: 80px;
    }
    .aboutleftside{
        display: flex;
        justify-content: space-between;
    }
    ul{
        flex-direction: column;
        right: -410px;
        top: 70px;
        position: relative; 
        line-height: 30px; 
        background-color: #3F3D56; 
        border-radius: 8px;   
        padding: 10px;  

    }
    .fa.fa-bars.menu{
        display: block;
        font-size: 30px;
        color: #F5F5F5;
        margin-top: 20px;
        margin-right: 15px;
      }
      .aboutleftside h2{
        margin-top: 10px;
        margin-left: 10px;
    }
    .aboutmiddle{
        flex-direction: column;
        margin-top: 28px;
       
    }
    .aboutleftmiddle{
        position: relative;
        right: 85px;
        width: 350px;
        height: auto;

    }
    .aboutrightmiddle img{
        position: relative;
        right: 299px;
        width: 350px;
        height: auto;
    }
    .aboutsignupbtn{
        position: relative;
        right: 469px;
        width: 350px;
        height: auto;
        margin-bottom: 20px;
    }
}

