body{
    padding: 0;
    margin: 0;
    font-family: poppins;
}
.containerhomepage{
    background-color: #2F2E41;
    width: 100%;
    height: 100vh;
}
.homenavbar{
    display:flex ;
    background-color: #2F2E41;
    border-bottom: 3px solid #F5F5F5;
    position: sticky;
    top: 0;
    z-index: 9999;

}
  .fa.fa-bars.menu{
    display: none;
  }

.homeleftside{
    flex: 3;
}
.homeleftside h2{
    color: #CE871C;
    font-size: 39;
    font-weight: bold;
    margin-left: 40px;
}
.homeaggyh2{
    color: #CE871C;
}
.homerightside{
    flex: 5;
}
ul.menuheader{
    display: flex;
}
li.listitems{
    margin-left: 50px;
    list-style: none;
    margin-top: 5px;

}
li.listitems a{
    color: #F5F5F5;
    text-decoration: none;
    font-size: 22px;
}
li.listitems a:hover{
    color: #CE871C;
    font-weight: bold;
    
}
.homemiddle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}
.homeleftmiddle{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 48px;

color: #D9D9D9;
padding-right: 140px;
border-right: 3px solid #D9D9D9;
margin-left: 40px;

}
.homerightmiddle{


    width: 368px;
    height: 223px;
    top: 336px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    text-align: center;    
    color: #F5F5F5;
    margin-left: 100px;

}
.softwareh2{
 
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
text-align: center;
color: #D9D9D9;
margin-top: 110px;
}
.btnhomepage{
    margin-top: 125px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}

.homelgnbtn a{
    color: #F5F5F5;
    text-decoration: none;
}
.homelgnbtn{
    width: 164px;
height: 45px;

background: #2F2E41;
border: 3px solid #CE871C;
border-radius: 12px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 34px;
color: #F5F5F5;

}
.homesignupbtn a{
    color: #F5F5F5;
    text-decoration: none;
}

.homesignupbtn{
    width: 164px;
height: 45px;
background: #2F2E41;
border: 3px solid #CE871C;
border-radius: 12px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 34px;

color: #F5F5F5;

}

ul.active{
    transition: all 0.5s ease;
    text-align: center;
    width: 320px;
    height: 360px;
    left: 42px;
    gap: 20px;
    font-size: 32px;
    font-weight: 600;
   
}
@media screen and (max-width:624px){
    .homemiddle{
       
        flex-direction: column;
    }
    .containerhomepage{
        background-color: #2F2E41;
        width: 100%;
         height: auto;
    }
    
    .homenavbar{
        flex-direction: column;
        width: 100%;
        height: 80px;
    }
    .homeleftside{
        display: flex;
        justify-content: space-between;
    }
    ul{
        flex-direction: column;
        right: -410px;
        top: 70px;
        position: relative; 
        line-height: 30px; 
        background-color: #3F3D56; 
        border-radius: 8px;   
        padding: 10px;  

    }
    .fa.fa-bars.menu{
        display: block;
        font-size: 30px;
        color: #F5F5F5;
        margin-top: 20px;
        margin-right: 15px;
      }
    .homeleftside{
        display: flex;
        justify-content: space-between;
    }
    .homeleftside h2{
        margin-top: 10px;
        margin-left: 10px;
    }
    .aboutleftmiddlepar{
        position: relative;
        right: 299px;
        width: 320px;
        height: auto;
    }
    .homeleftmiddle{
        position: relative;
        left: 50px;
    }
    .homerightmiddle p{
        position: relative;
        right: 50px;
    }
    .btnhomepage{
        flex-direction: column;
        gap: 20px;
        
    }
    
    }