body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.dashboaraddcontainer{
    width: 100%;
    height: 656px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.dashboardaddleft{
    width: 23%;
    height: 656px;
    background-color: #3F3D56;
}

.fa.fa-bars.menu{
    display: none;
  }
.dashboardaddright{
    width: 77%;
    height: 656px;
    background-color: #2F2E41;
}
.dashaddlogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
    margin-top: 1px;
    margin-left: 43px;   
}
img{
    width: 40px;
    height: 40px;
}
.dashboardaddleft ul li{
    font-size: 24px;
    list-style: none;
    margin-top: 7px;
}
.dashboardaddleft ul li a{
    text-decoration: none;
    color: #f5f5f5;
    padding-left: 3px;
  
}
.dashlistaddadmin{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 43px;
}
.dashlistaddart{
    display: flex;
    margin-top: 15px;
    margin-left: 20px;

}
.dashlistaddlogout{
    display: flex;
    margin-left: 43px;
    margin-top: 50px;
}

.dashlistadd{
    display: flex;
    margin-top: 20px;
}
.dashboardaddright h2{
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    color: #CE871C;
}
.dashaddrightcontainer{
   position: relative;
    width: 570px;
    height: 467px;
    background-color: #3F3D56;
    left: 260px;
}
.addtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adddescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    align-items: center;
    justify-content: center;

}
form input{
    width: 390px;
    height: 35px;
    background-color:#2F2E41 ;
    color: #F5F5F5;
    border: none;
  
}
form .adddescription input{
    width: 390px;
    height: 135px;
    background-color:#2F2E41 ;
    color: #F5F5F5;
    border: none;
}
form label{
    font-size: 26px;
    margin-left: -230px;
    color: #F5F5F5;
    margin-top: 30px;
    
}

form button{
    width: 190px;
height: 42px;

background: #2F2E41;
border: 3px solid #CE871C;
border-radius: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
color: #F5F5F5;
margin-top: 50px;
margin-left: 170px;
}
.dashboardaddleft.active{
    transition: all 0.5s ease;
    left: 687px;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
   
}
@media screen and (max-width:624px){
    .dashboardaddleft{
        width: 270px;
        height: auto;
        background-color: #3F3D56;
        position: fixed; 
        margin-left: -718px;
        line-height: 10px; 
        background-color: #3F3D56; 
        border-radius: 8px;   
        padding: 5px; 
        z-index: 999;
       }
       .fa.fa-bars.menu{
        display: block;
        float: right;
        font-size: 30px;
        color: #F5F5F5;
        margin-top: 10px;
        margin-right: 10px;
      }
      .dashboardaddright{
        width: 410px;     
    }
      .dashaddrightcontainer{
        width: 350px;
        height: auto;
        left: 30px;
      }
      .addtitle label{
        margin-left: -40px;
      }
      .addtitle input{
        width: 280px;
        height: 40px;
      }
      .adddescription label{
        margin-left: 50px;
      }
      form .adddescription input{
        width: 280px;
        height: 140px;
      }
      form button{
        position: relative;
        right: 80px;
        margin-bottom: 15px;
      }
    }       