body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.dashboarquerycontainer{
    width: 100%;
    height: 656px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.dashboardqueryleft{
    position: fixed;
    top: 0;
    left: 0;
    width: 23%;
    height: 100vh;
    background-color: #3F3D56;
}
.dashboardqueryright{
    width: 77%;
    height: 100%;
    position: relative;
    left: 155px;
    background-color: #2F2E41;
}
.fa.fa-bars.menu{
    display: none;
  }
.dashquerylogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
    margin-top: 1px;
    margin-left: 43px;   
}
img{
    width: 40px;
    height: 40px;
}
.dashboardqueryleft ul li{
    font-size: 24px;
    list-style: none;
    margin-top: 7px;
}
.dashboardqueryleft ul li a{
    text-decoration: none;
    color: #f5f5f5;
    padding-left: 3px;
  
}.dashlistqueryadmin{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 43px;
}
.dashlistqueryart{
    display: flex;
    margin-top: 15px;
    margin-left: 20px;

}
.dashlistquerylogout{
    display: flex;
    margin-left: 43px;
    margin-top: 50px;
}

.dashlistquery{
    display: flex;
    margin-top: 20px;
}
.dashboardqueryright h2{
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    color: #CE871C;
}
.dashqueryrightcontainer table,th,td{
    width: 800px;
    margin: auto;
    font-size: 20px;
    color: #f5f5f5;
    padding: 5px;
    text-align: center;
    border: 2px solid #f5f5f5;
    border-collapse: collapse;
}
.dashqueryrightcontainer table,th{
    color: #CE871C;
}
.dashboardqueryleft.active{
    transition: all 0.5s ease;
    left: 687px;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
}
@media screen and (max-width:624px){
    .dashboardqueryleft{
        width: 270px;
        height: auto;
        background-color: #3F3D56;
        position: fixed; 
        margin-left: -718px;
        line-height: 10px; 
        background-color: #3F3D56; 
        border-radius: 8px;   
        padding: 5px; 
        z-index: 999;
       }
       .fa.fa-bars.menu{
        display: block;
        float: right;
        font-size: 30px;
        color: #F5F5F5;
        margin-top: 10px;
        margin-right: 10px;
      }
      .dashboardqueryright{
        width: 100%;     
    }
    .dashqueryrightcontainer table,th,td{
        width: 350px;
        height: auto;
        font-size: 16px;
        padding: 2px;
        border: 1px solid #f5f5f5;
      }
      img{
        width: 30px;
        height: 30px;
    }
}
